<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Cliente</title>
</head>
<body class="container mt-4">


 <h1 class="mt-5">Cliente App</h1>
 <h5 class="mb-4">Bienvenido</h5>


         <div class="d-flex flex-row justify-content-between align-items-center">

            <a href=" " class="btn btn btn-outline-dark">Menu Principal <i class="bi bi-house"></i></a>
            <!-- Button trigger modal -->

        </div>

        <div class="d-flex justify-content-around mt-3">

            <div class="d-grid gap-2 mt-5" style="width: 50%;">          
                <a href="verAutores" class="btn btn-outline-dark fs-4">Asignarme actividades <i class="bi bi-flag"></i></a>
                <a href="verEditoriales" class="btn btn-outline-dark fs-4">Ver mi Plan Nutricional <i class="bi bi-clipboard-check"></i></a>
                <a href="verEmpleados" class="btn btn-outline-dark fs-4">Estado membresia <i class="bi bi-file-person"></i></a>
                <a href="verEmpleados" class="btn btn-outline-dark fs-4">Pago de membresia <i class="bi bi-credit-card"></i></a>
                
            </div>

        </div>



        








 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    
</body>
</html>