<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Gerencia</title>
</head>
<body class="container mt-4">


 <h1 class="mt-5">Administrador <i class="bi bi-key"></i></h1>
 <h4 class="mb-4">Gerencia</h4>
<!-- <a href="log" class="btn btn-outline-dark">LOG IN  <i class="bi bi-people-fill"></i></a>
        <br> -->

         <div class="d-flex flex-row justify-content-between align-items-center">

            <a href=" " class="btn btn btn-outline-dark">Menu Principal <i class="bi bi-house"></i></a>
            <!-- Button trigger modal -->

        </div>

        <div class="d-flex justify-content-around mt-3">

            <div class="d-grid gap-2 mt-5" style="width: 50%;">          
                <a href="personal_admin.html" class="btn btn-outline-dark fs-4">Gestion de Personal <i class="bi bi-person"></i></a>
                <a href="membresia_admin.html" class="btn btn-outline-dark fs-4">Gestion de Membresias <i class="bi bi-file-bar-graph"></i></a>
                <a href="pagos_admin.html" class="btn btn-outline-dark fs-4">Administrador de Pagos <i class="bi bi-credit-card"></i></a>
                <a href="../cliente/estadoMembresias.html" class="btn btn-outline-dark fs-4">Estado de Membresias <i class="bi bi-bar-chart"></i></a>
                <a href="../personal/registro_cliente.html" class="btn btn-outline-dark fs-4">Base de datos Clientes <i class="bi bi-database"></i></a>                
                
            </div>

        </div>








 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    
</body>
</html>