<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="../app.js"></script>

    <title>Personal</title>
</head>

<body class="container mt-4">


    <h1 class="mt-5">Gestion personal <i class="bi bi-person-rolodex"></i></h1>
    <h4 class="mb-5">Admin</h4>
    <!-- <a href="log" class="btn btn-outline-dark">LOG IN <i class="bi bi-people-fill"></i></a>
    <br> -->

    <!-- Modal para agregar usuario -->

    <div class="d-flex flex-row justify-content-between align-items-center">

         <a href="admin_home.html" class="btn btn btn-outline-dark">Home <i class="bi bi-house"></i></a>
        <!-- Button trigger modal -->
        <div class="d-flex flex-column align-items-right">
            <button type="button" class="btn btn-outline-dark my-1" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Agregar Personal <i class="bi bi-person-workspace"></i>
            </button>
            <button type="button" class="btn btn-outline-dark ">
                Agregar puesto <i class="bi bi-person-workspace"></i>
            </button>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="agregarEditorial" method="post">

                        <label for="txt_actividad_id" class="form-label">Actividad ID</label>
                        <input type="text" name="txt_actividad_id" id="txt_actividad_id" class="form-control">

                        <label for="txt_personal_id" class="form-label">Personal_id</label>
                        <input type="text" name="txt_personal_id" id="txt_personal_id" class="form-control">

                        <label for="txt_nombre" class="form-label">Nombre:</label>
                        <input type="text" name="txt_nombre" id="txt_nombre" class="form-control">

                        <label for="txt_modalidad" class="form-label">Modalidad:</label>
                        <input type="text" name="txt_modalidad" id="txt_modalidad" class="form-control">

                        <label for="txt_nivel" class="form-label">Nivel:</label>
                        <input type="text" name="txt_nivel" id="txt_nivel" class="form-control">

                        <label for="txt_cupo" class="form-label">Cupo Maximo:</label>
                        <input type="number" name="txt_cupo" id="txt_cupo" class="form-control">

                        <label for="txt_dias" class="form-label">Disponibilidad (dias):</label>
                        <input type="number" name="txt_dias" id="txt_dias" class="form-control">

                        <label for="txt_horario" class="form-label">Horario:</label>
                        <input type="number" name="txt_horario" id="txt_horario" class="form-control">

                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit"
                                class="btn btn-outline-dark mt-2 justify-content-center">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <br><br>

    <!-- Contenido -->
    <div class="d-flex justify-content-center align-items-center gap-2">
        <table class="table table-sm table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Puesto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Fecha de Contratacion</th>
                    <th>Estado</th>
                    <th>Horario</th>
                    <th>Sede</th>
                    <th class="text-center">Editar</th>
                </tr>
            </thead>
            <tbody id="verPersonal-admin">

            </tbody>
        </table>
    </div>






</body>

</html>